<div class="homelogo">
  <img id="homelogoid" src="/img/pocketbooklogo.png" style="height: 140px;">
  {{!-- <div class="profileicon">
      <a href="/logout"><button type="button" class="btn btn-outline-light float-right">Sign out</button></a>
    </div> --}}
</div>
<div class="page-content p-5" id="content">


  <div class="container">
    <div class="welcome">
      <h1>Welcome back, {{firstName}}</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="dashleft">

          <div class="monthselect" style="text-align: center;">
            <h1>Budget Breakdown</h1>
          </div>


          <div class="chart">
            <div class="container">
              <canvas id="myChart" width="630" height="630"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="chartdata">

          <div class="datahead" style="text-align: center;">
            <h1>Monthly Budget</h1>
          </div>


          <div class="datainfo">

            <ul id="income-list" class="list-group">
              {{#each budget}}
              <li data-id="{{this.id}}" class="list-group-item">
                {{source}}
                ${{budget_allocated}}
              </li>
              {{/each}}
            </ul>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="/img/BILLS.jpg" alt="..." width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">{{firstName}}
          {{lastName}}</h4>
        <p class="font-weight-light text-muted mb-0">Account</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Manage Budget</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/income" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        Income
      </a>
    </li>
    <li class="nav-item">
      <a href="/bills" class="nav-link text-dark font-italic">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
        Bills
      </a>
    </li>
    <li class="nav-item">
      <a href="/percents" class="nav-link text-dark font-italic">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        Budget Breakdown
      </a>
    </li>
    <li class="nav-item">
      <a href="/logout" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
        Sign out
      </a>
    </li>
  </ul>


  <script src="/js/data.js"></script>
  <script src="/js/chart.js"></script>